@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

button {
  background-color: blueviolet;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 25px;
  transition: 0.3s ease-in-out;
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.4s ease-in-out;
}
.modal-container.show {
  pointer-events: auto;
  opacity: 2.2;
}
.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 4px 4px 15px 3px rgba(0, 0, 0, 0.514);
  text-align: center;
}
.modal img {
  border-radius: 50%;
  border: 1px solid black ;
}

/*

button {
  padding: 5px 20px;
  background-color: salmon;
  color: aliceblue;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid aliceblue;
  border-radius: 10px;
  cursor: pointer;
}
.modal {
  border: 2px solid rgb(7, 86, 155);
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}
.hidden {
  display: none;
}
*/
